{
  "bluesky": {
    "handle": "yourhandle.bsky.social",
    "app_password": "xxxx-xxxx-xxxx-xxxx",
    "_setup_url": "https://bsky.app/settings/app-passwords"
  },
  "twitter": {
    "consumer_key": "",
    "consumer_secret": "",
    "access_token": "",
    "access_token_secret": "",
    "bearer_token": "",
    "_setup_url": "https://developer.twitter.com/en/portal/dashboard"
  },
  "mastodon": {
    "instance_url": "https://mastodon.social",
    "access_token": "",
    "_setup_url": "https://mastodon.social/settings/applications"
  },
  "reddit": {
    "client_id": "",
    "client_secret": "",
    "username": "",
    "password": "",
    "user_agent": "TheFactDrop/1.0 by u/yourusername",
    "subreddits": [],
    "_setup_url": "https://www.reddit.com/prefs/apps"
  }
}
